<div class="logo text-center">
    <img width="100" src="./assets/Depositphotos_13839826_XL.jpg" alt="">
</div>

<fieldset>
    <h1 class="text-muted mt-2 text-center">FORMULAIRE d'ENREGISTREMENT CANADA </h1>
   <div class="registration-form m-3 p-4">
    <form [formGroup]="registerForm">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>NOM</mat-label>
                    <input formControlName="firstName" matInput placeholder="Placeholder">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>PRENOM</mat-label>
                    <input formControlName="lastName" matInput placeholder="Placeholder">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput placeholder="Placeholder">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>TELEPHONE</mat-label>
                    <input formControlName="phone" matInput placeholder="Placeholder">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Numero Passport</mat-label>
                    <input type="number" formControlName="ordre" matInput placeholder="ordre">
                    <mat-icon matSuffix><i class="fa fa-check" aria-hidden="true"></i></mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6 mt-4">
                <mat-form-field appearance="outline">
                    <mat-label>Date Soumission</mat-label>
                    <input formControlName="date" matInput [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </div>
            <div class="col-md-6 mt-4">
                <mat-form-field class="example-outline">
                    <mat-label>Contact Whatsapp</mat-label>
                    <span matPrefix>+00 &nbsp;</span>
                    <input formControlName="EMContact" type="tel" matInput placeholder="600 000 000">
                    <mat-icon matSuffix>phone</mat-icon>
                    <mat-hint>Include area code</mat-hint>
                  </mat-form-field>
            </div>
            <div class="col-md-6 mt-4">
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>No CNI</mat-label>
                    <input formControlName="cni" matInput type="number" class="example-right-align">
                    <span matTextPrefix>CNI</span>
                </mat-form-field>
            </div>
            <div class="col-md-6 mt-4">
                <mat-form-field appearance="outline">
                    <mat-label>Genre</mat-label>
                    <mat-select formControlName="gender">
                      <mat-option  *ngFor="let state of gender" [value]="state">{{state}}</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="col-md-6 mt-4">
                <mat-form-field appearance="outline">
                    <mat-label>Profession</mat-label>
                    <mat-select formControlName="profession">
                      <mat-option  *ngFor="let state of profession" [value]="state">{{state}}</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="col-md-6 mt-4">
                <mat-form-field appearance="outline">
                    <mat-label>Ville de résidence</mat-label>
                    <mat-select formControlName="region">
                      <mat-option  *ngFor="let state of region" [value]="state">{{state}}</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
        </div>
        <button *ngIf="!isUpdateActive" (click)="submitAdamaoua()" mat-raised-button color="accent" class="mt-4">Submit</button>
        <button *ngIf="isUpdateActive" (click)="updateAdamaoua()" mat-raised-button color="accent" class="mt-4">Update</button>
    </form>
</div> 
</fieldset>